*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one{
    background-color: #fd6600;    background-color: #fd6600;
    width: 350px;
    height: 300px;
    color: white;
    border-radius: 20px;
    padding: 20px;
    
}
.two{
    background-color: #3b3465;
    width: 350px;
    height: 300px;
    color: white;
    border-radius: 20px;
    padding: 20px;

}
.main-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;


    
}
.main-div-2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;


    
}
.center-box{
    text-align: center;
    background-color: #fd6600;
    height: 220px;
    padding: 20px;
    color: white;

}
.div-one{
    display: flex;
    height: 300px;
    

}

.box1{
    box-shadow: 5px 5px 5px 5px black; 
    border-radius: 20px;
    display: flex;
    margin: 20px;
}
.box1 h2{
    color: #3b3465;
    padding: 20px;
}
.box1 p{
    text-align: justify;
}
.text-div{}
